html {
    font-size: 24px;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("./Fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("./Fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("./Fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("./Fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    max-width: 750px;
    max-height: max-content;
    margin: 0 auto;
    font-size: 1rem;
    box-sizing: content-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 0 0;
}

div {
    font-family: 'MyriadProRegular';
}

/* Head */
.head {
    width: 100%;
    height: 235px;
    background-color: #2d7053;
}

/* Header logo */
.header-logo {
    margin-left: 38px;
    margin-top: 47px;
    float: left;
}

/* Header name */
.header-name {

    color: #FFFFFF;
    font-size: 30px;
    margin-left: 58px;
    margin-top: 44px;
    float: left;
}

/* Header menu */
.header-menu {
    float: right;
    margin-top: 69px;
    margin-right: 44px;
}

.line {
    width: 84px;
    height: 12px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 16px 0;
} 

/* Image */
.image {
    width: 750px;
    height: 466px;
    background-image: url(./img/image_1.jpeg);
}

.image-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
}

/* Button_1*/
.button_order_1 {
    margin-top: 345px;
    margin-left: 217px;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    line-height: 75px;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

.info {
    width: 750px;
    display: inline;
}

.photo {
    border-radius: 50%;
    margin-top: 73px;
    margin-left: 44px;
    float: left;
}

.name {
    font-size: 36px;
    float: left;
    text-align: left;
    margin-top: 134px;
    margin-left: 75px;
}

.spec {
    font-size: 24px;
    width: 245px;
    height: 50px;
    margin-top: 29px;
    margin-left: 73px;
    float: left;
    text-align: left;
    font-size:24px ;
}

.biogr {
    margin-left: 44px;
    margin-top: 60px;
    float: left;
    font-size: 24px;
}

/* List */

.reasons {
    margin-left: 44px;
    margin-top: 46px;
    font-size: 36px;
    float: left;
}

.reasonlist {
    width: 256px;
    height: 190px;
    float: left;
    margin-left: 44px;
    margin-top: 43px;
    font-size: 24px;
    padding-left: 2px;
}

ul {
    list-style: none;
    padding-left: 5px;
}

ul li:before {
    content:  "-";
    position: relative;
    left:     -5px;
}

/* Button_2 */

.button_order_2 {
    margin-top: 44px;
    margin-left: 218px;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    line-height: 75px;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

/* Footer */

.footer {
    margin-top: 50px;
    width: 750px;
    height: 154px;
    background-color: #888888;
}

.small_ellipse {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-top: 29px;
    margin-right: 184px;
    margin-bottom: 28px;
    margin-left: 45px;
    float: left;
    background-color: #FFFFFF;
}

.tel_number {
    width: 140px;
    height: 15px;
    font-size: 18px;
    margin-top: 56px;
    margin-right: 44px;
    margin-bottom: 27px;
    text-decoration: none;
    color: #FFFFFF;
    float: right;
}

.address {
    width: 200px;
    height: 17px;
    font-size: 18px;
    margin-top: 103px;
    margin-bottom: 34px;
    color: #FFFFFF;
    float: left;
}

.mail {
    width: 144px;
    height: 17px;
    font-size: 18px;
    margin-left: 38px;
    margin-right: 0px;
    margin-bottom: 38px;
    text-decoration: none;
    color: #FFFFFF;
    float: left;
}
